body {
    font-family: $main-font;
    font-size: $base-font-size;
    line-height: $base-line-height;
    max-width: $wrapper-width;
    margin: 0 auto;
    padding: $single-line $half-line;
    background-color: $light;
    color: $dark;

    @media #{$bp} {
        font-size: $widescreen-font-size;
    }

}

input,
textarea,
button {
    font-family: $main-font;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-family: $secondary-font;
}
