@media screen, projection {

.entry {
    padding-bottom: $single-line;
}

.entry-header {
    padding-bottom: $line-and-a-half;
    text-align: center;
}

.entry-title {
    font-size: $size-8;
    font-weight: bold;
}

.entry-meta {
    margin-top: $single-line;
}

.entry-content {
    padding-bottom: $half-line;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.entry blockquote {
    margin: $half-line $double-line;
    padding-left: $half-line;
    font-size: $size-3;
}

.entry-content p,
.entry-content ol,
.entry-content ul,
.entry-content dd {
    margin-bottom: $half-line;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content dt {
    padding: $half-line 0 $quarter-line 0;
    text-align: center;
}

.entry-content h1,
.entry-content h2 {
    font-size: $size-6;
}

.entry-content h3,
.entry-content dt {
    font-size: $size-4;
}

.entry-content h4 {
    font-size: $size-3;
}

.entry-content hr {
    border: 1px dotted $lgrey;
    margin: $single-line 0;
}

.wp-caption {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
    padding-bottom: $single-line;
}

.wp-caption-text {
    margin-bottom: 0;
    font-size: $size-3;
    color: $grey;
    font-style: italic;
    text-align: center;
}


}
