@media screen, projection {

.inline-nav li {
    display: inline;
    margin-right: $single-line;
}

.inline-nav-centered li {
    margin: 0 $half-line;
}

.current-menu-item a,
.current-page-item a,
.current-page-item a {
    color: $black;
}



}
