@media screen, projection {


#content {
    margin-bottom: $single-line;
}

#footer {
    padding: $half-line 0;
    font-size: $size-3;
    text-align: center;
    text-transform: lowercase;
    font-variant: small-caps;
}

}
