@charset "utf-8";

// Variables

$corporate: #E84100;
$background: #EAE8E8;
$heading-color: #888;

$primary-fonts: freight-text-pro, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", 'Source Sans Pro', sans-serif;
$secondary-fonts: freight-sans-pro, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", 'Source Sans Pro', sans-serif;

$small-text: 0.85em;

$line-height: 1.5em;
$half-line: $line-height / 2;
$quarter-line: $line-height / 4;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "sass/base",
    "sass/entry",
    "sass/layout",
    "sass/branding",
    "sass/nav",
    "sass/widget",
    "sass/pagination"
;
